<h2>Edit Stream</h2>
<form>
    <label>Name</label>
    <input ng-model="se.stream.name" />
    <label>Slug</label>
    <input ng-model="se.stream.slug" />
    <label>Description</label>
    <input ng-model="se.stream.description" />
    <label>Stream Key</label>
    <label>Channel</label>
    <select ng-model="se.stream.channel" required>
        <option value=""></option>
        <option ng-repeat="option in vm.streamChannels" value="{{option}}">{{option}}</option>
    </select>
    <input ng-model="se.stream.streamKey" />
    <button ng-click="se.generateStreamKey()">Generate new key</button>
    <label>Resolution</label>
    <input ng-model="se.stream.resX" /> x
    <input ng-model="se.stream.resY" />
    <label>Default Volume</label>
    <input type="range" ng-model="se.stream.defaultVolume" />
    <label>Public</label>
    <input ng-model="se.stream.public" type="checkbox" />
    <button ng-click="se.updateStream()">Save</button>
    <div ng-show="se.error">
        Error: {{se.error}}
    </div>
</form>
<button ng-click="se.updateChannelList()">Update List</button>
<button ng-click="se.dropPublisher()">Drop Publisher</button>
