<h2>Users</h2>
<button ng-click="ua.showAddUserForm = !ua.showAddUserForm" ng-show="!ua.showAddUserForm">Add New User</button>
<form ng-show="ua.showAddUserForm">
    <label>Email</label>
    <input ng-model="ua.credentials.email" type="email" required />
    <label>Password</label>
    <input ng-model="ua.credentials.password" type="text" required />
    <button ng-click="ua.generatePassword()" type="button">Generate Password</button>
    <button ng-click="ua.createUser()" type="submit">Add</button>
</form>
<p>{{ua.users}}</p>
<ul>
    <li ng-repeat="user in ua.users">
        {{ user | displayName }}
        {{user.asdf}}
        <label>Admin</label>
        <input ng-model="user.isAdmin" type="checkbox" />
        <button ng-click="ua.removeUser(user)">Delete</button>
        <button ng-click="ua.setAdmin(user)">Save</button>
    </li>
</ul>
