<h2>Streams List</h2>
<ul>
    <li ng-repeat="stream in sl.streams">
        {{stream.name}}
        <button ui-sref="streamView({slug: stream.slug})">View</button>
        <span ng-if="vm.currentUser.isAdmin">
            <button ui-sref="streamEdit({slug: stream.slug})">Edit</button>
            <button ng-click="sl.removeStream(stream)">Remove</button>
        </span>
    </li>
</ul>
<div ng-if="vm.currentUser.isAdmin">
<h3>New Stream</h3>
    <form name="new-stream">
        <label>Name</label>
        <input ng-model="sl.newStream.name" type="text" name="streamName" />
        <label>Slug</label>
        <input ng-model="sl.newStream.slug" type="text" name="streamSlug" disabled />
        <label>Description</label>
        <input ng-model="sl.newStream.description" name="streamDescription" type="text" />
        <label>Channel</label>
        <select ng-model="sl.newStream.channel">
            <option value=""></option>
            <option ng-repeat="option in vm.streamChannels" value="{{option}}">{{option}}</option>
        </select>
        <label>Resolution</label>
        <input ng-model="sl.newStream.resX" /> x
        <input ng-model="sl.newStream.resY" />
        <button ng-click="sl.addStream()">Add Stream</button>
        <div ng-show="sl.error">
            {{ sl.error }}
        </div>
    </form>
</div>
